.nav{
    display: flex;
    flex-direction: row;
}

.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-link{
    list-style-type: none;
    justify-content: space-around;
    color: brown;
}